---
import Notes from '@/layouts/Notes.astro';
import { type CollectionEntry, getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'notes'>;

const note = Astro.props;
const { Content } = await render(note);
---

<Notes title={note.data.name} description={note.data.name} isNotePage>
  <article>
    <div class="toolbar">
      <div class="filename">{note.data.name}.md</div>
      <a href={`https://github.com/APJohns/blog/blob/main/src/content/notes/${note.id}.md`} class="edit-link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
          ></path>
        </svg>

        Edit</a
      >
    </div>
    <Content />
  </article>
</Notes>

<style>
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: var(--fs-subtle);
    background: #eaeaea;
  }

  .edit-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & svg {
      height: 1rem;
      width: auto;
    }
  }
</style>
