---
import { SITE_DESCRIPTION } from '../consts';
import Layout from '@/layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import me from '@/images/me.png';
---

<Layout title="About me | Ash Johns" description={SITE_DESCRIPTION}>
  <main>
    <div class="profile">
      <Image src={me} alt="A picture of me by a river and some boats." loading="eager" class="profile-image" />
      <div class="profile-text">
        <h1>Hi! I'm Ash</h1>
      </div>
    </div>
    <p>
      I'm a UX Frontend Developer based in Massachusetts. I started this blog to create a space to share details about
      cool projects I've been working on, and any tips and tricks I learn along the way.
    </p>
    <p>Check out my <a href="https://ashpjohns.com">portfolio</a> for more info on my professional background.</p>
  </main>
</Layout>

<style>
  .profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin: 1rem 0 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
  }

  .profile-image {
    width: 100%;
  }

  .profile-text {
    flex: 1;
  }

  .profile h1 {
    margin-bottom: 0;
  }

  .profile p {
    margin-top: 0;
  }

  @media (min-width: 400px) {
    .profile {
      align-items: center;
    }

    .profile-image {
      width: 33%;
      min-width: 200px;
    }
  }
</style>
