---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '@/layouts/Layout.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <div class="hero">
      <h1>Hi! I'm Ash Johns ✌️</h1>
      <p class="subtitle">Welcome to my corner of the internet.</p>
    </div>
    <h2>Work</h2>
    <p>
      Open to work! I'm a frontend developer specializing in design systems. I'm looking for either a design system role
      or to branch out into more feature development. Don't hesitate to reach out if you think I'd be a great addition
      to your team!
    </p>
  </main>
</Layout>

<style>
  .hero {
    margin-top: 1rem;
  }

  .subtitle {
    margin-top: 0;
  }
</style>
