---
import type { JSX } from 'astro/jsx-runtime';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  icon?: any;
}

const { href, class: className, icon, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive, headerLink: true }]} {...props}>
  <slot />
</a>
<style is:global>
  .headerLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-size: var(--fs-body);
  }
  .headerLink.active {
    font-weight: bolder;
    text-decoration: underline;
  }
  .headerLink svg,
  .headerLink img {
    width: 1.25em;
    height: 1.25em;
  }
</style>
