---
import { SITE_DESCRIPTION } from '@/consts';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import NoteLink from '@/components/NoteLink.astro';

const notes = await getCollection('notes');
notes.sort((a, b) => (a.data.updateDate.toISOString() < b.data.updateDate.toISOString() ? 1 : -1));

const { isNotePage = false } = Astro.props;
---

<Layout title="Notes | Ash Johns" description={SITE_DESCRIPTION}>
  <main class:list={{ flush: true, isNotePage }}>
    {!isNotePage && <h1 class="notes-title-sm">Notes</h1>}
    <div class="notes-window">
      <nav class="notes-nav">
        <ul class="notes-list">
          {
            notes.map((note) => (
              <li class="note-item">
                <NoteLink
                  href={`/notes/${note.id}`}
                  name={note.data.name}
                  date={note.data.updateDate.toLocaleDateString()}
                />
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="note-panel">
        <slot />
      </div>
    </div>
  </main>
</Layout>

<style>
  .hero {
    margin-top: 1rem;
  }

  .subtitle {
    margin-top: 0;
  }

  .notes-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .note-item {
    padding: 0.5rem 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .note-item:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color-primary);
  }

  .notes-window {
    flex: 1;
    height: 100%;
  }

  .isNotePage .note-panel {
    border-radius: 1rem;
    padding: 1rem;
    background: white;
  }

  main:not(.isNotePage) {
    .note-panel {
      display: none;
    }
  }

  .isNotePage {
    .notes-list {
      display: none;
    }
  }

  .flush {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }

  @media (min-width: 800px) {
    .notes-window {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1rem;
    }

    .notes-title-sm {
      display: none;
    }

    .notes-nav {
      padding-right: 1rem;
      border-right: 1px solid var(--border-color-primary);
    }

    main:not(.isNotePage) {
      .note-panel {
        display: block;
      }
    }

    .note-panel {
      display: block;
    }

    .isNotePage {
      .notes-list {
        display: block;
      }
    }
  }
</style>
